<app-header></app-header>
<br><br>
<h3 class="text-danger col-md-offset-5">FAQs</h3>
<div class="container col-md-5 col-md-offset-3">
  <br>
  <br>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Collapsible Group Item
        </a>
      </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
        <h4 class="text">
          Travel is one of those things that naturally gives rise to queries, concerns and doubts, 
          so we’re here to put your mind at ease. Which trip is right for me? What do I do about 
          visas? How much do I tip? Should I have banh mi or pho for lunch? For questions frequent and otherwise, this is the spot.</h4>
        </div>

      </div>
    </div>
    <br>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item
        </a>
      </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <h4 class="text">
            Travel is one of those things that naturally gives rise to queries, concerns and doubts,
             so we’re here to put your mind at ease. Which trip is right for me? What do I do about visas? How much do I tip? 
             Should I have banh mi or pho for lunch?
             For questions frequent and otherwise, this is the spot.
</h4>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item
        </a>
      </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
        <h4 class="text">
          Travel is one of those things that naturally gives rise to queries, concerns and doubts, so we’re here to put your mind at ease.
           Which trip is right for me? What do I do about visas? How much do I tip? Should I have banh mi or pho for lunch? For questions
            frequent and otherwise, this is the spot.
</h4>
        </div>
      </div>
    </div>
    <br>
    <br>
   
  </div>

</div>