

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a routerLink="/mybooking"><span class="glyphicon glyphicon-list-alt"></span>    MY BOOKINGS </a></li>
      <li routerLinkActive="active"><a routerLink="/Profile"><span class="glyphicon glyphicon-user"></span> {{name}}</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">MORE <span class="caret"></span></a>
        <ul class="dropdown-menu">
	        <li routerLinkActive="active"><a routerLink="/mybooking"><span class="glyphicon glyphicon-pencil"></span>My-Booking</a></li>
          <li routerLinkActive="active"><a routerLink="/FAQs"><span class="glyphicon glyphicon-pencil"></span>FAQs</a></li>
          <li routerLinkActive="active"><a routerLink="/logout"><span class="glyphicon glyphicon-log-out"></span>   LOGOUT</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>